.preto{background-color: #BEBEBE;}
.acesso{background-color:#FFF2CC;}
.peao_b_1{background-image:url('imagens/peao_b.png');background-repeat:no-repeat;background-position:center;}
.peao_b_2{background-image:url('imagens/peao_b2.png');background-repeat:no-repeat;background-position:center;}
.peao_b_3{background-image:url('imagens/peao_b3.png');background-repeat:no-repeat;background-position:center;}
.peao_p_1{background-image:url('imagens/peao_p.png');background-repeat:no-repeat;background-position:center;}
.peao_p_2{background-image:url('imagens/peao_p2.png');background-repeat:no-repeat;background-position:center;}
.peao_p_3{background-image:url('imagens/peao_p3.png');background-repeat:no-repeat;background-position:center;}
.cavalo_b_1{background-image:url('imagens/cavalo_b.png');background-repeat:no-repeat;background-position:center;}
.cavalo_b_2{background-image:url('imagens/cavalo_b2.png');background-repeat:no-repeat;background-position:center;}
.cavalo_b_3{background-image:url('imagens/cavalo_b3.png');background-repeat:no-repeat;background-position:center;}
.cavalo_p_1{background-image:url('imagens/cavalo_p.png');background-repeat:no-repeat;background-position:center;}
.cavalo_p_2{background-image:url('imagens/cavalo_p2.png');background-repeat:no-repeat;background-position:center;}
.cavalo_p_3{background-image:url('imagens/cavalo_p3.png');background-repeat:no-repeat;background-position:center;}
.bispo_b_1{background-image:url('imagens/bispo_b.png');background-repeat:no-repeat;background-position:center;}
.bispo_b_2{background-image:url('imagens/bispo_b2.png');background-repeat:no-repeat;background-position:center;}
.bispo_b_3{background-image:url('imagens/bispo_b3.png');background-repeat:no-repeat;background-position:center;}
.bispo_p_1{background-image:url('imagens/bispo_p.png');background-repeat:no-repeat;background-position:center;}
.bispo_p_2{background-image:url('imagens/bispo_p2.png');background-repeat:no-repeat;background-position:center;}
.bispo_p_3{background-image:url('imagens/bispo_p3.png');background-repeat:no-repeat;background-position:center;}
.torre_b_1{background-image:url('imagens/torre_b.png');background-repeat:no-repeat;background-position:center;}
.torre_b_2{background-image:url('imagens/torre_b2.png');background-repeat:no-repeat;background-position:center;}
.torre_b_3{background-image:url('imagens/torre_b3.png');background-repeat:no-repeat;background-position:center;}
.torre_p_1{background-image:url('imagens/torre_p.png');background-repeat:no-repeat;background-position:center;}
.torre_p_2{background-image:url('imagens/torre_p2.png');background-repeat:no-repeat;background-position:center;}
.torre_p_3{background-image:url('imagens/torre_p3.png');background-repeat:no-repeat;background-position:center;}
.rainha_b_1{background-image:url('imagens/rainha_b.png');background-repeat:no-repeat;background-position:center;}
.rainha_b_2{background-image:url('imagens/rainha_b2.png');background-repeat:no-repeat;background-position:center;}
.rainha_b_3{background-image:url('imagens/rainha_b3.png');background-repeat:no-repeat;background-position:center;}
.rainha_p_1{background-image:url('imagens/rainha_p.png');background-repeat:no-repeat;background-position:center;}
.rainha_p_2{background-image:url('imagens/rainha_p2.png');background-repeat:no-repeat;background-position:center;}
.rainha_p_3{background-image:url('imagens/rainha_p3.png');background-repeat:no-repeat;background-position:center;}
.rei_b_1{background-image:url('imagens/rei_b.png');background-repeat:no-repeat;background-position:center;}
.rei_b_2{background-image:url('imagens/rei_b2.png');background-repeat:no-repeat;background-position:center;}
.rei_b_3{background-image:url('imagens/rei_b3.png');background-repeat:no-repeat;background-position:center;}
.rei_p_1{background-image:url('imagens/rei_p.png');background-repeat:no-repeat;background-position:center;}
.rei_p_2{background-image:url('imagens/rei_p2.png');background-repeat:no-repeat;background-position:center;}
.rei_p_3{background-image:url('imagens/rei_p2.png');background-repeat:no-repeat;background-position:center;}
.peca_b{}
.peca_p{}
